<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <div id='header'>
   	<div id="top">	
   			<h1><%= title %></h1>
   			<ul>
   				<li><a href="#header"><%= tag[0] %></a></li>
   				<li><a href="#Content_1"><%= tag[1] %></a></li>
   				<li><a href="#"><%= tag[2] %></a></li>
   				<li><a href="#"><%= tag[3] %></a></li>
   				<li><a href="#"><%= tag[4] %></a></li>
   				<li><a href="#"><%= tag[5] %></a></li>
   				<li><a href="#"><%= tag[6] %></a></li>
   			</ul>
   	</div>
   	<div class='header'>  	
  	<div class="slogen">
  		<h2><%= slogen %></h2>
  		<p><%= s_slogen %></p>
  	    <button class='click_in' id=''>GET STARTED</button>
  	</div>
  	<div id="Introduction">
  		<div class='Box'>
  			<h3><%= box_title[0] %></h3>
  			<p class="c_text"><%= box_text %></p>
  		</div>
  		<div class="Box">
  			<h3><%= box_title[1] %></h3>
  			<p class="c_text"><%= box_text %></p>
  		</div>
  		<div class="Box">
  			<h3><%= box_title[2] %></h3>
  			<p class="c_text"><%= box_text %></p>
  		</div>
  	</div>
  </div>
  <div class="shaddow"></div>
  </div>

  <div id="Content_1">
  	<h3><%= live_title %></h3>
  	<p><%= live_text %></p>
  	<div class="l_point">
  		<img src="">
  		<img src="">
  		<img src="">
  	</div>

  	<div class="live_box" id="liveBox">
  		<img src="" >
  		<p class="l_title"></p>
  		<p class="l_text"></p>
  		<div class="location">
  			<div class="l_icon"></div>
  			<h2 class="l_name"></h2>
  		</div>
  		<div class="l_percent"></div>
  		<div class="l_info">
  			<table>
  				<tr>
  					<td>40%</td>
  					<td>$9,907</td>
  					<td>21</td>
  				</tr>
  				<tr>
  					<td>funded</td>
  					<td>pledged</td>
  					<td>days to go</td>
  				</tr>
  			</table>
  		</div>
  	</div>
  	<div class="live_box">
  		<img src="" >
  		<p class="l_title"></p>
  		<p class="l_text"></p>
  		<div class="location">
  			<div class="l_icon"></div>
  			<h2 class="l_name"></h2>
  		</div>
  		<div class="l_percent"></div>
  		<div class="l_info">
  			<table>
  				<tr>
  					<td>40%</td>
  					<td>$9,907</td>
  					<td>21</td>
  				</tr>
  				<tr>
  					<td>funded</td>
  					<td>pledged</td>
  					<td>days to go</td>
  				</tr>
  			</table>
  		</div>
  	</div>
  	<div class="live_box">
  		<img src="" >
  		<p class="l_title"></p>
  		<p class="l_text"></p>
  		<div class="location">
  			<div class="l_icon"></div>
  			<h2 class="l_name"></h2>
  		</div>
  		<div class="l_percent"></div>
  		<div class="l_info">
  			<table>
  				<tr>
  					<td>40%</td>
  					<td>$9,907</td>
  					<td>21</td>
  				</tr>
  				<tr>
  					<td>funded</td>
  					<td>pledged</td>
  					<td>days to go</td>
  				</tr>
  			</table>
  		</div>
  	</div>
  	<div class="live_box">
  		<img src="" >
  		<p class="l_title"></p>
  		<p class="l_text"></p>
  		<div class="location">
  			<div class="l_icon"></div>
  			<h2 class="l_name"></h2>
  		</div>
  		<div class="l_percent"></div>
  		<div class="l_info">
  			<table>
  				<tr>
  					<td>40%</td>
  					<td>$9,907</td>
  					<td>21</td>
  				</tr>
  				<tr>
  					<td>funded</td>
  					<td>pledged</td>
  					<td>days to go</td>
  				</tr>
  			</table>
  		</div>
  	</div>

  </div>

  <script type="text/javascript" src="/javascripts/addLoadEvent.js"></script>
  <script type="text/javascript" src="/javascripts/default.js"></script>
  </body>
</html>
