<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <div id='header'>
   	<div id="top">	
   			<h1><%= title %></h1>
   			<ul>
   				<li><a href="#header"><%= tag[0] %></a></li>
   				<li><a href="#Content_1"><%= tag[1] %></a></li>
   				<li><a href="#Content_2"><%= tag[2] %></a></li>
   				<li><a href="#content_text"><%= tag[3] %></a></li>
   				<li><a href="#Content_3"><%= tag[4] %></a></li>
   				<li><a href="#Content_4"><%= tag[5] %></a></li>
   				<li><a href="#Content_4"><%= tag[6] %></a></li>
   			</ul>
   	</div>
   	<div class='header'>  	
  	<div class="slogen">
  		<h2><%= slogen %></h2>
  		<p><%= s_slogen %></p>
  	    <button type="button" class='click_in' id=''>GET STARTED</button>
  	</div>
  	<div id="Introduction">
  		<div class='Box'>
  			<h3><%= box_title[0] %></h3>
  			<p class="c_text"><%= box_text %></p>
  		</div>
  		<div class="Box">
  			<h3><%= box_title[1] %></h3>
  			<p class="c_text"><%= box_text %></p>
  		</div>
  		<div class="Box">
  			<h3><%= box_title[2] %></h3>
  			<p class="c_text"><%= box_text %></p>
  		</div>
  	</div>
  </div>
  <div class="shaddow"></div>
  </div>
 <section>
  <div id="Content_1">
  	<h3><%= live_title[0] %></h3>
  	<p><%= live_text %></p>
  	<div class="l_point">
  		<ul>
  			<li></li>
  			<li></li>
  			<li></li>
  		</ul>
  	</div>


   <div  id="liveBox" class="pannel">
  	<div class="live_box">
  		<div class="live_img">
  			<div class="shaddow_img"></div>
  			<div class="shaddow_icon"></div>
  			<img src="/images/pict_large1.gif" >
  	    </div>
  		<span class="l_title"><%= l_title[0] %></span><br>
  		<span class="l_text"><%= l_text %></span>
  		<div class="location">
  			<div class="l_icon"></div>
  			<h2 class="l_name"><%= l_name[0] %></h2>
  		</div>
  		<div class="l_percent"></div>
  		<div class="l_info">
  			<table>
  				<tr>
  					<th><%= funded[0] %></th>
  					<th><%= pledged[0] %></th>
  					<th><%= days[0] %></th>
  				</tr>
  				<tr>
  					<td>funded</td>
  					<td>pledged</td>
  					<td>days to go</td>
  				</tr>
  			</table>
  		</div>
  	</div>

  	<div class="live_box">
  		<div class="live_img">
  			<div class="shaddow_img"></div>
  			<div class="shaddow_icon"></div>
  			<img src="/images/pict_large2.gif" >
  	    </div>
  		<span class="l_title"><%= l_title[1] %></span><br>
  		<span class="l_text"><%= l_text %></span>
  		<div class="location">
  			<div class="l_icon"></div>
  			<h2 class="l_name"><%= l_name[1] %></h2>
  		</div>
  		<div class="l_percent"></div>
  		<div class="l_info">
  			<table>
  				<tr>
  					<th><%= funded[1] %></th>
  					<th><%= pledged[1] %></th>
  					<th><%= days[1] %></th>
  				</tr>
  				<tr>
  					<td>funded</td>
  					<td>pledged</td>
  					<td>days to go</td>
  				</tr>
  			</table>
  		</div>
  	</div>
    <div class="live_box">
  		<div class="live_img">
  			<div class="shaddow_img"></div>
  			<div class="shaddow_icon"></div>
  			<img src="/images/pict_large3.gif" >
  	    </div>
  		<span class="l_title"><%= l_title[2] %></span><br>
  		<span class="l_text"><%= l_text %></span>
  		<div class="location">
  			<div class="l_icon"></div>
  			<h2 class="l_name"><%= l_name[2] %></h2>
  		</div>
  		<div class="l_percent"></div>
  		<div class="l_info">
  			<table>
  				<tr>
  					<th><%= funded[2] %></th>
  					<th><%= pledged[2] %></th>
  					<th><%= days[2] %></th>
  				</tr>
  				<tr>
  					<td>funded</td>
  					<td>pledged</td>
  					<td>days to go</td>
  				</tr>
  			</table>
  		</div>
  	</div>
  	<div class="live_box">
  		<div class="live_img">
  			<div class="shaddow_img"></div>
  			<div class="shaddow_icon"></div>
  			<img src="/images/pict_large4.gif" >
  	    </div>
  		<span class="l_title"><%= l_title[3] %></span><br>
  		<span class="l_text"><%= l_text %></span>
  		<div class="location">
  			<div class="l_icon"></div>
  			<h2 class="l_name"><%= l_name[3] %></h2>
  		</div>
  		<div class="l_percent"></div>
  		<div class="l_info">
  			<table>
  				<tr>
  					<th><%= funded[3] %></th>
  					<th><%= pledged[3] %></th>
  					<th><%= days[3] %></th>
  				</tr>
  				<tr>
  					<td>funded</td>
  					<td>pledged</td>
  					<td>days to go</td>
  				</tr>
  			</table>
  		</div>
  	</div>
  </div>



  	<button type="button" class="c_button">VIEW ALL CAMPAIGNS</button>

  </div>


  <div id="Content_2">
  	<div class="shaddow_bg"></div>
  	<div class="text_commit">
  		<h3><%= live_title[1] %></h3>
  		<p><%= story_text %></p>
  	</div>
  	
  	<div id="content_text">
  		<div class="content_title">
  			<h1><%= live_title[2] %></h1>
  			<p><%= live_text %></p>
  			<div class="l_point">
  				<ul>
  					<li></li>
  					<li></li>
  					<li></li>
  				</ul>
  			</div> 

  			<div class="s_info">
  				<img src="/images/s_icon_1.png">
  				<h3><%= s_title[0] %></h3>
  				<p><%= s_text %></p>
  			</div>
  			<div class="s_info">
  				<img src="/images/s_icon_2.png">
  				<h3><%= s_title[1] %></h3>
  				<p><%= s_text %></p>
  			</div>
  			<div class="s_info">
  				<img src="/images/s_icon_3.png">
  				<h3><%= s_title[2] %></h3>
  				<p><%= s_text %></p>
  			</div>
  			<div class="s_info">
  				<img src="/images/s_icon_4.png">
  				<h3><%= s_title[3] %></h3>
  				<p><%= s_text %></p>
  			</div>
  		</div>
  	</div>
  </div>


  <div id="Content_3">
  	<img src="/images/model.png">
  	<div class='content_text3'>
  		<h1><%= live_title[3] %></h1>
  		<p><%= live_text %></p>
  		<button type="button">VISIT SHOP</button>
  	</div>
  	
  </div>

  <div id='Content_4'> 
  	<div class="content_text4">
  		<h1><%= live_title[4] %></h1>
  		<p><%= live_text %></p>
  		<div class="l_point">
  			<ul>  			
  				<li></li>  			
  				<li></li>  			
  				<li></li>  		
  			</ul>  	
  		</div>   
  	</div>
  	<div class="photo_list">  
  	<div class="donor">
  		<img src="/images/dev_phonto1.jpg">
  		<p><%= prize[0] %></p>
  		<p><%= names[0] %></p>
  	</div>
   	<div class="donor">
  		<img src="/images/dev_phonto2.jpg">
  		<p><%= prize[1] %></p>
  		<p><%= names[1] %></p>
  	</div>
  	<div class="donor">
  		<img src="/images/dev_phonto3.jpg">
  		<p><%= prize[2] %></p>
  		<p><%= names[2] %></p>
  	</div>
  	<div class="donor">
  		<img src="/images/dev_phonto4.jpg">
  		<p><%= prize[3] %></p>
  		<p><%= names[3] %></p>
  	</div>
  	<div class="donor">
  		<img src="/images/dev_phonto5.jpg">
  		<p><%= prize[4] %></p>
  		<p><%= names[4] %></p>
  	</div>
  </div>
  </div>

</section>

  <footer>
  	<p class="foot_info">2017 All rights reserved</p>
  	<p class="foot_nav">
  		<a href=""><span>About</span></a>-
  		<a href=""><span>Blog</span></a>-
  		<a href=""><span>Provicy</span></a>-
  		<a href=""><span>Terms of Service</span></a>
  	</p>
  </footer>

  <script type="text/javascript" src="/javascripts/addLoadEvent.js"></script>
  <script type="text/javascript" src="/javascripts/default.js"></script>
  </body>
</html>